/* Colors:
 * Stormarn: #1e294a
 * Sebi old login: #485a52
 */
:root {
  --stormarn-color: #262626;
  --dark: #262626;
}
* {
  text-align: center;
  margin: 0;
  padding: 0;
}
body {
  color: #FFF;
  font-family: 'Roboto Mono', monospace;
  font-size: 11pt;
  background-color: #363636;
  overflow-x: hidden;
  overflow-y: visible;
}
#loadable_content {
  animation: fadein 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@keyframes fadein{
  0%{
    opacity: 0;
    left: 20px;
  }
  100%{
    opacity: 1;
    left: 0;
  }
}
@keyframes fadeout{
  0%{
    opacity: 1;
    left: 0;
  }
  100%{
    opacity: 0;
    left: 20px;
  }
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: GRAY;
}
a:active {
  color: red;
}
.nav {
  border: solid black;
  border-radius: 0 24px 24px 0;
  width: 220px;
  background-color: #303030;
  padding: 20px 10px;
  letter-spacing: 2px;
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px 20px 20px 0;
  /*transform: translateX(8%);
  transition: transform 125ms ease-in;*/
}
.links {
  text-align: center;
}
button {
  background: none;
  width: 200px;
  border-radius: 24px;
  height: 40px;
  color: rgb(199, 199, 199);
  border: solid #333333;
  transition: 0.25s;
  margin: 4px;
}
button:hover {
  width: 280px;
  border: solid rgb(0, 255, 221);
  cursor: crosshair;
}
/*
.nav:hover {
  transform: translateX(10%);
}*/
.navihome {
  color: rgb(111, 188, 255);
}
.navihome:hover {
  color: aqua;
}
.navilogout {
  color: rgb(255, 0, 76);
}
.navilogout:hover {
  color: rgb(175, 0, 117);
  cursor: pointer;
}
.navisupport {
  color: rgb(0, 255, 0);
}
.navisupport:hover {
  color: rgb(0, 102, 60);
}
.naviprofile {
  color: rgb(0, 174, 255);
}
.naviprofile:hover {
  color: rgb(43, 0, 199);
}
.logo {
  width: 200px;
  height: auto;
  float: none;
  padding-bottom: 30px;
}
.home {
  background-color: #363636;
  border: none;
}
.main {
  width: 60%;
  background-color: var(--dark);
  float: none;
  margin: 10px auto;
  border: 10px solid var(--dark);
  border-radius: 20px;
}
.sub {
  width: 45%;
  background-color: #424242;
  float: none;
  margin: 30px auto;
  border: 10px solid #424242;
  border-radius: 20px;
  padding: 20px;
  text-align: left;
  box-sizing: content-box;
}
.log-in {
  align-items: center;
  text-transform: uppercase;
  width: 360px;
  padding: 40px;
  font-weight: 500;
  font-size: larger;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background: url(../img/back.jpg)
  no-repeat;
  background-size: cover;*/
  background-color: #1e294a;
  border: 20px solid transparent;
  border-radius: 24px;
}
input, select {
  background: none;
  border: solid #333333;
  border-radius: 24px;
  width: 250px;
  color: white;
  margin: 20px auto;
  height: 30px;
  padding: 14px 10px;
  outline: none;
  transition: 0.2s;
  font-size: larger;
}
select:hover {
  background-color: #363636;
}
option {
  color: #fff;
}
td {
  font-size: 0.95rem;
}
input:hover {
  width: 320px;
  background-color: #FFFFF0;
  color: #000000;
  border: solid royalblue;
}
input:focus {
  width: 320px;
  border: solid aqua;
}
li {
  padding: 2px;
  text-align: left;
}
table {
  align-items: center;
  float: none;
  margin: 30px auto;
  font-size: larger;
}
th {
  padding: 5px 5px 10px;
}
td {
  padding-left: 10px;
  padding-right: 10px;
}
#index-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: -2px;
  margin: 0 auto;
  align-items: start;
}
#content.vert #index-content {
  display: block;
}
#content .main {
  max-width: 85%;
}
#left {
  border-right: 2px dashed #282828;
  min-height: 100%;
}
#right {
  border-left: 2px dashed #282828;
  min-height: 100%;
}
#content.vert #left,#right {
  border: none;
  min-height: unset;
}
.user {
  color: #00cccc;
}
.user:hover {
  color: #007777;
}
.user:active {
  color: #00ff9d;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  margin: 5px;
  border: 5px solid #424242;
  border-radius: 15px;
  background: #424242;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 5px solid var(--dark);
  border-radius: 15px;
  background: var(--dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-color: #555;
  background: #555;
}