/* Colors:
 * Stormarn: #1e294a
 * Sebi old login: #485a52
 */
:root {
  --success: #48742d;
  --danger: #a62b39;
  --green: #0cc;
  --dark-green: #055;
  --scroll-green: #088;
}
* {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 11pt;
  color: var(--font);
  background-color: var(--background);
  overflow-x: hidden;
  overflow-y: visible;
}
#loadable_content {
  /*animation: fadein 0.5s;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@keyframes fadein{
  0%{
    opacity: 0;
    left: 20px;
  }
  100%{
    opacity: 1;
    left: 0;
  }
}
@keyframes fadeout{
  0%{
    opacity: 1;
    left: 0;
  }
  100%{
    opacity: 0;
    left: 20px;
  }
}
a {
  text-decoration: none;
  color: var(--font);
}
a:hover {
  color: GRAY;
}
a:active {
  color: red;
}
/*
Deprecated
.nav {
  border: solid black;
  border-radius: 0 24px 24px 0;
  width: 220px;
  background-color: #303030;
  padding: 20px 10px;
  letter-spacing: 2px;
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px 20px 20px 0;
  !*transform: translateX(8%);
  transition: transform 125ms ease-in;*!
}
*/
.links {
  text-align: center;
}
button {
  color: var(--font);
  cursor: pointer;
  background: none;
  width: max-content;
  padding: 0 10px;
  border-radius: 24px;
  height: 40px;
  border: solid var(--background);
  transition: 0.25s;
  margin: 4px;

}
button:hover {
  border: solid rgb(0, 255, 221);
  cursor: pointer;
  color: GRAY;
}
button:active {
  color: red;
}
/*
.nav:hover {
  transform: translateX(10%);
}*/
.navihome {
  color: rgb(111, 188, 255);
}
.navihome:hover {
  color: aqua;
}
.navilogout {
  color: rgb(255, 0, 76);
}
.navilogout:hover {
  color: rgb(175, 0, 117);
  cursor: pointer;
}
.navisupport {
  color: rgb(0, 255, 0);
}
.navisupport:hover {
  color: rgb(0, 102, 60);
}
.naviprofile {
  color: rgb(0, 174, 255);
}
.naviprofile:hover {
  color: rgb(43, 0, 199);
}
.logo {
  width: 200px;
  height: auto;
  float: none;
  padding-bottom: 30px;
}
.home {
  background-color: #363636;
  border: none;
}
.stormarn_logo_container {
  background-color: var(--logo-back);
  box-shadow: 0 0 13px 13px var(--logo-back);
}
.stormarn_logo {
  width: auto;
  max-width: 80%;
  max-height: 95px;
  margin: 10px;
}
.cover_img_container {
  box-sizing: content-box;
  padding: 10px;
  margin: 40px auto;
  width: 600px;
  max-width: 85%;
  height: min-content;
  box-shadow: 0 0 20px 20px #b1b2a7;
  background-color: #b1b2a7;
  border: 1px solid #b1b2a7;
  border-radius: 10px;
}
.cover_img {
  border: 2px solid #b1b2a7;
  background-color: #b1b2a7;
  width: 600px;
  height: auto;
  overflow-y: hidden;
  object-fit: contain;
}
.main {
  min-width: 60%;
  width: fit-content;
  max-width: 85%;
  background-color: var(--main-back);
  float: none;
  margin: 10px auto;
  border: 10px solid var(--main-back);
  border-radius: 20px;
  overflow: initial;
  overflow-x: auto;
}
.sub {
  width: 80%;
  background-color: var(--sub-back);
  float: none;
  margin: 30px auto;
  border: 10px solid var(--sub-back);
  border-radius: 20px;
  padding: 20px;
  text-align: left;
  box-sizing: content-box;
}
.log-in {
  align-items: center;
  text-transform: uppercase;
  min-width: 360px;
  width: min-content;
  padding: 40px;
  font-weight: 500;
  font-size: larger;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background: url(../img/back.jpg)
  no-repeat;
  background-size: cover;*/
  background-color: var(--login);
  border: 20px solid transparent;
  border-radius: 24px;
}

/*noinspection CssInvalidPropertyValue*/
input {
  background: none;
  border: solid #667bb9;
  border-radius: 24px;
  max-width: -webkit-fill-available;
  color: var(--font);
  margin: 20px auto;
  height: 40px;
  padding: 14px 5px;
  outline: none;
  transition: 0.2s;
  font-size: larger;
}
input:hover {
  background-color: var(--background);
  color: var(--font);
  border: solid #667bb9;
}
input:focus {
  background-color: var(--background);
  border: solid aqua;
}
select {
  background-color: var(--background);
  outline: none;
  color: var(--font);
  border: solid var(--background);
  border-radius: 24px;
  height: 70px;
  padding: 14px 10px;
  transition: 0.2s;
  margin: 20px auto;
  max-width: available;
  font-size: 1.2rem;
}
select:hover {
  background-color: var(--background);
}
option {
  color: var(--font);
}
td {
  font-size: 0.95rem;
}
li {
  padding: 2px;
  text-align: left;
}

table {
  width: 90%;
  align-items: center;
  float: none;
  margin: 0 auto;
  font-size: larger;
  border-collapse: collapse;
  background-color: var(--table-even);
  border-radius: 12px;
}
.table td,.table th{
  padding:12px 15px;
  text-align: center;
  font-size:16px;
}

th {
  padding: 10px;
}

td {
  padding: 10px 3px;
}

tbody tr:nth-child(even) td {
  border-left: 1px solid var(--table-odd);
  border-right: 1px solid var(--table-odd);
}
tbody tr:nth-child(odd) td {
  border-left: 1px solid var(--table-even);
  border-right: 1px solid var(--table-even);
}

table tbody tr:nth-child(even) {
  background-color: var(--table-even);
}
table tbody tr:nth-child(odd) {
  background-color: var(--table-odd);
}

.teamTable {
  width: 100%;
}

.teamTable .delbtn::before {
  content: "❌";
}

.teamTable .danger .delbtn::before {
  color: lime;
  content: "✔";
}

.teamTable .danger {
  background-color: var(--danger);
}

.teamTable .success {
  background-color: var(--success);
}

.teamTable .user-search {
}

.user-search .search-bar {
  margin: 0 auto;
  color: white;
  border: 2px solid var(--table-even);
  border-radius: 2px;
  width: 80%;
  height: 90%;
  background-color: var(--main-back);
}

.teamTable .user-search-drop-down {
  border: 2px solid var(--table-even);
  border-radius: 2px;
  visibility: hidden;
  display: none;
  width: 80%;
  margin: 0 auto;
  background-color: var(--main-back);
  float: none;
  border-top: 1px dashed var(--background);
}

.teamTable .user-search-drop-down .pre-select {
  display: none;
}

.teamTable .user-search-drop-down .items {
  cursor: pointer;
  text-align: left;
  font-size: 1.2rem;
  margin: 4px;
}

.teamTable .user-search-drop-down .items i {
  padding: 0 5px;
}

.teamTable .user-search-drop-down .items:hover {
  background-color: #0e1a32;
}

.teamTable .user-search.active .search-bar {
  border-bottom: none;
}

.teamTable .user-search.active .user-search-drop-down {
  visibility: visible;
  display: block;
}

.split .main {
  max-width: 85%;
  box-sizing: border-box;
}
.split {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: -2px;
  margin: 0 auto;
  align-items: start;
}
.content.vert ~ #content {
  display: block;
}
.split #left {
  border-right: 2px dashed #282828;
  min-height: 100%;
}
.split #right {
  border-left: 2px dashed #282828;
  min-height: 100%;
}
.user {
  color: var(--user);
}
.user:hover {
  color: var(--user-h);
}
.user:active {
  color: var(--user-a);
}

/* Non selectable Text */
.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Conqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.filters {
  margin: 0 auto 3px;
  max-width: 90%;
  font-size: larger;
  padding: 0;
  display: grid;
  justify-content: space-evenly;
}
.filters select {
  border-radius: 5px;
  font-size: smaller;
  margin: 0 10px;
  max-height: 50px;
}
.filters option {
  font-size: medium;
}

button.create {
  border: none;
  font-size: 1.1rem;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  margin: 5px;
  border: 0 solid;
  border-radius: 15px;
  /* background: #424242; */
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 5px solid var(--scroll-green);
  border-radius: 15px;
  background: var(--scroll-green);
  opacity: 0.5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-color: var(--dark-green);
  background: var(--dark-green);
}